input[type=text] {
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    font-size: 2em;
    height: 1.5em;
    color: #000;
}

input[type=text]:focus {
    box-shadow: none;
    background-color: #fff;
}
