<div class="row">
    <div class="small-10 small-offset-1 large-12 columns">
        {{input type="text" value=query action="search" id="search-field" placeholder="The Hobbit: The Desolation of Smaug"}}
    </div>
</div>
