<!doctype html>
<html class="no-js" lang="en">

    <head>
    
        {% include 'header.html' %}

        <style>

            body {

                margin-top: 2em;            

            }

        </style>

    </head>

    <body>
    
        {% include 'menu.html' %}        

        <div class="row">

            <div class="large-3 columns">

                <a class="th" href="#"> 
                    <img src="{{ film.poster_path }}">
                </a>

                <br><br><br>          

                <table width="100%">

                    <tbody>
                    
                        <tr>

                            <td><strong>Status</strong></td>
                            <td>{{ film.status }}</td>

                        </tr>

                        <tr>

                            <td><strong>Runtime</strong></td>
                            <td id="runtime">{{ film.runtime }} min</td>

                        </tr>  

                        <tr>

                            <td><strong>Release Date</strong></td>
                            <td id="release_date">{{ film.release_date }}</td>

                        </tr>                                                

                    </tbody>

                </table>                

            </div>

            <div class="large-9 columns">

                <h2>{{ film.title }}</h2>
                <h4 class="subheader">{{ film.tagline }}</h4>

                <br>

                <h5 class="subheader" id="overview">Overview</h4>

                <hr>

                <p>{{ film.overview }}</p>

                {% if film.trailers['youtube'] %}

                <h5 class="subheader" id="cast">Cast</h5>

                <hr>

                <table width="100%">

                    <thead>

                        <tr> 

                            <th>Actor</th>
                            <th>Character</th> 

                        </tr>

                    </thead>

                    <tbody>

                        {% for actor in film.credits['cast'] %}

                            <tr>

                                <td>{{ actor['name'] }}</td>
                                <td>{{ actor['character'] }}</td>

                            </tr>

                        {% endfor %}

                    </tbody>

                </table>

                <h5 class="subheader" id="crew">Crew</h5>

                <hr>

                <table width="100%">

                    <thead>

                        <tr> 

                            <th>Name</th>
                            <th>Department</th> 
                            <th>Job</th>

                        </tr>

                    </thead>

                    <tbody>

                        {% for worker in film.credits['crew'] %}

                            <tr>

                                <td>{{ worker['name'] }}</td>
                                <td>{{ worker['department'] }}</td>
                                <td>{{ worker['job'] }}</td>

                            </tr>

                        {% endfor %}

                    </tbody>

                </table>

                <h5 class="subheader" id="trailers">Trailers &amp; Teasers</h2>

                <hr>

                <ul class="example-orbit-content" data-orbit> 

                    {% for trailer in film.trailers['youtube'] %}

                    <li data-orbit-slide="{{ trailer['name'] }}"> 
                        
                    <div class="flex-video"> 
                        <iframe src="//www.youtube.com/embed/{{ trailer['source'] }}" allowfullscreen="" frameborder="0"></iframe>
                    </div>
                
                    </li> 

                    {% endfor %}
                    
                </ul>

                {% endif %}

            </div>

        </div>     

        {% include 'scripts.html' %}

        <script type="text/javascript">

            document.getElementById('release_date').innerHTML=moment("{{ film.release_date }}", "YYYY-MM-DD").format('MMMM Do, YYYY');
            document.getElementById('runtime').innerHTML=Math.floor({{ film.runtime }} / 60) + " hr " + ({{ film.runtime }} % 60) + " min";

        </script>

    </body>

</html>

