<!doctype html>
<html class="no-js" lang="en">

    <head>

        {% include 'header.html' %}

        <style>

            body {

                margin-top: 2em;

            }

            .orbit-timer,
            .orbit-slide-number {
                display: none;
            }

        </style>

    </head>

    <body>

        {% include 'menu.html' %}

        <div class="row" id="content">
            <!-- Content Here -->
        </div>

        {% include 'scripts.html' %}

        <script type="text/javascript">

            $.getJSON('/film/'+window.location.pathname.split('/')[2]+'/json', function( data ) {

                $.get('/static/ms/film.mustache', function(template) {
                    var rendered = Mustache.render(template, data.film);
                    $('#content').html(rendered);
                });

                document.getElementById('release_date').innerHTML=moment(data.film.release_date, "YYYY-MM-DD").format('MMMM Do, YYYY');
                document.getElementById('runtime').innerHTML=Math.floor(data.film.runtime / 60) + " hr " + (data.film.runtime % 60) + " min";

            });

        </script>

    </body>

</html>
