<!doctype html>
<html class="no-js" lang="en">

    <head>
    
        {% include 'header.html' %}

        <style>

            body {

                margin-top: 2em;

            }

        </style>

    </head>

    <body>
    
        {% include 'menu.html' %}        

        <div class="row">

            <div class="large-3 columns">

                <a class="th" href="#"> 
                    <img src="{{ film.poster_path }}">
                </a>

            </div>

            <div class="large-9 columns">

                <h2>{{ film.title }}</h2>
                <h4 class="subheader">{{ film.tagline }}</h4>

            </div>

        </div>

        {% include 'scripts.html' %}

    </body>

</html>

