<!doctype html>
<html class="no-js" lang="en">
    
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Light Movie Database</title>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/modernizr.js"></script>
         
    </head>

    <body>

        <nav class="top-bar">   
  
            <ul class="title-area">
    
                <li class="name"><h1><a href="#">Light Movie Database</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">

                <ul class="left">
                </ul>

                <ul class="right">
                    <li class="has-form show-for-large-up">
                        <a href="#" class="button radius">I'm Feeling Lucky</a>
                    </li>
                </ul>

            </section> 

        </nav>

        <div class="row">

            <div class="large-8 columns">

                <input type="text" placeholder="The Hobbit: The Desolation of Smaug"/>

            </div>

            <div class="large-2 columns">

                <select>

                    <option>Films</option>
                    <option>People</option>

                </select>
    
            </div>


            <div class="large-2 columns">

                <a href="#" class="button radius tiny">Search</a>

            </div>

        </div>
 
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

    </body>

</html>

