<!doctype html>
<html class="no-js" lang="en">
    
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Light Movie Database</title>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        <script src="/static/js/modernizr.js"></script>
   
    </head>

    <body>
    
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

    </body>

</html>

