<!doctype html>
<html class="no-js" lang="en">
    
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wintergarten</title>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/modernizr.js"></script>
         
    </head>

    <body style="margin-top:3em;">
    
        <div class="row" id="menu">

            <div class="large-12 columns">

                <ul class="inline-list" style="float:right">

                    <li><a>Search</a></li>
                    <li><a>Top Films</a></li>
                    <li><a>In Theatres</a></li>
                    <li><a>Upcoming</a></li>
                </ul>

            </div>

        </div>

        <div class="row">

            <div class="large-12 columns">

                <div class="row collapse">
                        
                    <div class="small-11 columns">
                    
                        <input type="text" 
                           placeholder="The Hobbit: The Desolation of Smaug">
                
                    </div>
                    
                    <div class="small-1 columns">
                
                        <a href="#" class="button postfix">Search</a>
                
                    </div>
            
                </div>

            </div>

        </div>
 
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

    </body>

</html>

