		<div class="row" id="menu">

            <div class="large-12 columns">

                <ul class="inline-list" style="float:right">

                    <li><a href="/" id="search">Search</a></li>
                    <li><a href="/set/popular" id="popular">Popular Films</a></li>
                    <li><a href="/set/theatres" id="theatres">In Theatres</a></li>
                    <li><a href="/set/upcoming" id="upcoming">Upcoming</a></li>

                </ul>

            </div>

        </div>